---
import Layout from '@layouts/Layout.astro';
import TextElement from '@components/ui/TextElement.astro';
import Example from '@components/Example.astro';
import '@styles/global.css';
---

<Layout>
  <main
    class="flex-col text-black dark:text-white items-center justify-center"
  >
    <TextElement
      styleclass="text-center"
      headline="Hello, Astro Starter Kit!"
      text="This is a simple Astro starter kit with Tailwind CSS"
    />
    <Example />
  </main>
</Layout>
