---

---

<section
  id="contact"
  class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-auto"
>
  <a
    href="mailto:coding_bapthi_info@my.mail.de"
    class="border-transparent rounded-xl border-2 bg-black px-6 py-3 text-center text-white ring-orange ring-offset-2 transition hover:bg-orange focus-visible:ring-2"
  >
    Say hello!</a
  >
</section>
