---
import TextElement from '@components/ui/TextElement.astro';
import ImageTextElement from '@components/ui/ImageTextElement.astro';
import Contact from '@components/Contact.astro';
import Image from '@assets/images/dummy.jpg';
---

<section>
  <TextElement
    text="Hier kann der text f端r das Text Element 端bergeben werden"
  />
  <br />
  <ImageTextElement
    mobileImgUrl={Image}
    desktopImgUrl={Image}
    alt="Dummy Image"
    imgAligment="right"
    text="Hier kann der text f端r das Image Text Element 端bergeben werden"
  />
  <br />
  <Contact />
</section>
